In [ ]:
%load_ext autoreload
%autoreload 2
%matplotlib widget

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
from wind_tools import *
import matplotlib
matplotlib.rcParams['figure.figsize'] = (12,8)
from scipy.spatial.transform import Rotation as R

In [ ]:
# proc_dir = Path("2020_data/data_field_v2_from_20208010/fan_test_data/")

# # wm1_path  proc_dir / "20200724-1300_WM_174605_com1.raw"
# m7_path = proc_dir / "20200811-1500_TRS_M00507_com2.raw", proc_dir / "20200811-1530_TRS_M00507_com2.raw"

# m7 = pd.DataFrame(np.genfromtxt(m7_path[0], usecols=(10, 12, 14, 16), invalid_raise=False)), pd.DataFrame(np.genfromtxt(m7_path[1], usecols=(10, 12, 14, 16), invalid_raise=False))
# m7[1].index = m7[1].index + m7[0].index[-1] # need to shift the index
# m7 = pd.concat(m7) 
# m7.columns = list('uvwt')

In [ ]:
proc_dir = Path("2020_data/data_field_v2_from_20208010/fan_test_data/")

# wm1_path  proc_dir / "20200724-1300_WM_174605_com1.raw"
m7_path = proc_dir / "20200812-0930_TRS_M00507_com2.raw",

m7 = pd.DataFrame(np.genfromtxt(m7_path[0], usecols=(10, 12, 14, 16), invalid_raise=False))
m7.columns = list('uvwt')

In [ ]:
org_index = m7.index.copy()

### rotation

In [ ]:
rot_m507 = R.from_euler('YXZ', [+90.,    -70.,   225.], degrees=True) #rotation X can be +/- 10° due to errors in the installations
u,v,w = 0,1,2
def process_m507(data):  
    data[:, u] =  - data[:, u]
    rot_data = data.copy() #to preserve temperature
    rot_data[:, [u,v,w]] = rot_m507.apply(data[:, [u,v,w]])
    
    return rot_data

In [ ]:
m7r = pd.DataFrame(process_m507(m7.to_numpy()))
m7r.columns = list('uvwt')

In [ ]:
m7r.index = pd.TimedeltaIndex(org_index*100, unit='ms')

In [ ]:
m7r = m7r['00:26:00':'00:51:00']

In [ ]:
plot_components(resample([m7r], '1S'), vertical=False)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

array([<AxesSubplot:title={'center':'u'}>,
       <AxesSubplot:title={'center':'v'}>,
       <AxesSubplot:title={'center':'w'}>], dtype=object)

### raw no rotation

In [ ]:
m7

          u     v     w      t
0      0.49  0.47  0.06  26.50
1      0.49  0.50  0.09  26.71
2      0.10  0.60  0.10  26.61
3      0.67  0.15 -0.07  26.49
4      0.21  0.55 -0.04  26.66
...     ...   ...   ...    ...
17996 -0.03  0.43 -0.06  27.40
17997  0.13  0.39 -0.04  27.87
17998  0.09  0.48  0.10  27.18
17999  0.09  0.45 -0.01  26.99
18000  0.13  0.43 -0.02  27.33

[18001 rows x 4 columns]

In [ ]:
m7.index = pd.TimedeltaIndex(org_index*100, unit='ms') + pd.Timedelta("00:30:00")

In [ ]:
m7

                    u     v     w      t
00:30:00         0.49  0.47  0.06  26.50
00:30:00.100000  0.49  0.50  0.09  26.71
00:30:00.200000  0.10  0.60  0.10  26.61
00:30:00.300000  0.67  0.15 -0.07  26.49
00:30:00.400000  0.21  0.55 -0.04  26.66
...               ...   ...   ...    ...
00:59:59.600000 -0.03  0.43 -0.06  27.40
00:59:59.700000  0.13  0.39 -0.04  27.87
00:59:59.800000  0.09  0.48  0.10  27.18
00:59:59.900000  0.09  0.45 -0.01  26.99
01:00:00         0.13  0.43 -0.02  27.33

[18001 rows x 4 columns]

In [ ]:
m7 = m7['00:36:00':'00:43:00']

In [ ]:
plot_components(resample([m7], '.3S'), ['u', 'v'], vertical=False)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

array([<AxesSubplot:title={'center':'u'}>,
       <AxesSubplot:title={'center':'v'}>], dtype=object)

In [ ]:
250-180

70

# M506

In [ ]:
proc_dir = Path("2020_data/data_field_v2_from_20208010/fan_test_data/")

# wm1_path  proc_dir / "20200724-1300_WM_174605_com1.raw"
m6_path = proc_dir / "20200811-1500_TRS_M00506_com3.raw", proc_dir / "20200811-1530_TRS_M00506_com3.raw"

In [ ]:
m6 = pd.DataFrame(np.genfromtxt(m6_path[0], usecols=(10, 12, 14, 16), invalid_raise=False)), pd.DataFrame(np.genfromtxt(m6_path[1], usecols=(10, 12, 14, 16), invalid_raise=False))
m6[1].index = m6[1].index + m6[0].index[-1] # need to shift the index
m6 = pd.concat(m6) 
m6.columns = list('uvwt')

In [ ]:
org_index6 = m6.index.copy()

In [ ]:
m6.index = pd.TimedeltaIndex(org_index*100, unit='ms')

In [ ]:
m6 = m6['00:40:00':'00:55:00']

In [ ]:
plot_components(resample([m6], '.3S'), ['u', 'v'], vertical=False)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

array([<AxesSubplot:title={'center':'u'}>,
       <AxesSubplot:title={'center':'v'}>], dtype=object)

In [ ]:
m7.drop(range(4251, 4359)).min()

u    -2.76
v    -2.88
w    -1.18
t   -36.17
dtype: float64

In [ ]:
m7.w.argmin()

4251

In [ ]:
m7

          u     v     w      t
0      0.93  0.10  0.27  30.75
1      1.05  0.26  0.18  30.67
2      1.15  0.52  0.38  30.93
3      1.19  0.85  0.49  30.95
4      1.10  1.08  0.51  31.04
...     ...   ...   ...    ...
35996  0.28  1.20  0.12  30.60
35997  1.13  0.62  0.65  30.69
35998  1.74  0.29  0.71  30.62
35999  1.24  1.25  0.24  30.64
36000  1.21  0.82  0.37  30.72

[36002 rows x 4 columns]

In [ ]:
m7[m7.w == -99.10]

Empty DataFrame
Columns: [u, v, w, t]
Index: []

In [ ]:
m7 = m7.drop(range(4251, 4359)) #drop when there is no data from the anemometer

In [ ]:
m7

          u     v     w      t
0     -1.68  0.23  0.50  27.84
1     -1.72  0.35  0.61  27.92
2     -1.98  0.43  0.87  27.98
3     -1.24  0.46  0.28  28.11
4     -1.06  0.40  0.16  28.05
...     ...   ...   ...    ...
35996 -0.20 -0.11  0.19  30.63
35997 -0.17  0.10  0.12  31.13
35998 -0.18  0.04  0.16  31.09
35999 -0.15  0.21  0.01  30.76
36000  0.09 -0.05  0.26  30.68

[35894 rows x 4 columns]