In [42]:
import pandas as pd
import numpy as np
from pathlib import Path
from wind_tools import *
import matplotlib
matplotlib.rcParams['figure.figsize'] = (14,8)

In [12]:
proc_dir = Path("2020_data/data_20200724_final_field_install/preprocessed")

wm1_path =Path("2020_data/data_20200724_final_field_install/raw") / "20200724-1300_WM_174605_com1.raw"
m6_path = proc_dir / "20200724-1300_TRS_M00506_com3.csv"

In [23]:
wm1 = pd.read_csv(wm1_path).iloc[:,[2,3,4]]

In [24]:
wm1.columns = list('uvw')

In [25]:
wm1

          u     v     w
0     -1.45 -2.89  0.02
1     -1.69 -2.98 -0.20
2     -1.86 -2.77 -0.39
3     -1.69 -2.76  0.06
4     -1.26 -3.20  0.03
...     ...   ...   ...
18002 -1.70 -1.49 -2.23
18003 -1.49 -1.63 -2.19
18004 -2.02 -1.88 -1.57
18005 -2.39 -2.24 -0.48
18006 -2.61 -2.73  0.32

[18007 rows x 3 columns]

In [27]:
m6 = pd.read_csv(m6_path)

In [36]:
m6.columns = list("uvwt")

In [38]:
m6 = m6.drop(columns='t')

In [39]:
m6

          u     v     w
0     -2.89  1.32  0.38
1     -3.75  1.44  0.19
2     -3.37  0.38  0.06
3     -2.87  1.72  0.09
4     -3.40  1.26  0.46
...     ...   ...   ...
17995 -1.91  1.00 -0.77
17996 -2.92  1.17 -0.06
17997 -3.43  1.85  0.32
17998 -3.54  0.37  0.18
17999 -3.90 -0.04  0.05

[18000 rows x 3 columns]

In [47]:
%matplotlib qt5

In [50]:
plot_components([wm1, m6], 'u')

In [53]:
plot_components_scatter([wm1[:18000], m6[:18000]], 'u')

In [54]:
plot_components([wm1, m6], 'w')

In [55]:
plot_components_scatter([wm1[:18000], m6[:18000]], 'w')